/* 
vars to control eye movement (without js). Just remove all the js code and tweak these variables to see how you could animate it with just css
*/
/* line 16, ../scss/eye.scss */
.eye {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
  transform: rotate(0deg);
  box-sizing: border-box;
  border-radius: 60%;
  background: #fffde6;
}

/* line 31, ../scss/eye.scss */
.lids {
  box-shadow: inset 0px 0px 40px #718e9e;
  position: absolute;
  border-top: 30px solid #90a4af;
  border-bottom: 20px solid #90a4af;
  top: -1px;
  width: 150px;
  height: 152px;
  border-radius: 60%;
  background: rgba(255, 0, 255, 0);
  box-sizing: border-box;
}

/* line 45, ../scss/eye.scss */
.iris {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 60%;
  left: 45px;
  top: 45px;
  background-color: rgba(113, 142, 158, 0.9);
}

/* line 56, ../scss/eye.scss */
.pupil {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 60%;
  background-color: #718e9e;
  box-shadow: 0px 0px 30px white;
}

/* line 67, ../scss/eye.scss */
.pupil-shine {
  position: absolute;
  left: 60%;
  top: 20%;
  width: 20%;
  height: 20%;
  border-radius: 60%;
  background-color: rgba(255, 255, 255, 0.2);
}
