/* 
vars to control eye movement (without js). Just remove all the js code and tweak these variables to see how you could animate it with just css
*/
$iris-xpos: 45px;
$iris-ypos: 45px;
$lid-top: 30px; // 76px is "closed"
$lid-bottom: 20px; // 76px is "closed"
$skin-color: #90A4AF; // #718E9E #E7B79B, #4D3023
$eye-color: rgba(113, 142, 158, 0.9); //rgba(100, 155, 155, 0.9);
$roundness: 60%;

body {
  // background-color: $skin-color;
}

.eye {
  display: block;
  position: relative;
  // left: 35%;
  // top: 30%;
  width: 150px;
  height: 150px;
  margin: auto;
  transform: rotate(0deg);
  box-sizing: border-box;
  border-radius: $roundness;
  // background: rgba(245,240,240,1);
  background: rgba(255, 253, 230, 1);
}

.lids {
  // box-shadow: inset 0px 0px 40px black;
  box-shadow: inset 0px 0px 40px rgb(113, 142, 158);
  position: absolute;
  border-top: $lid-top solid $skin-color; // up
  border-bottom: $lid-bottom solid $skin-color; // down
  top: -1px; // fix for seam
  width: 150px;
  height: 152px; // fix for seam
  border-radius: $roundness;
  background: rgba(255,0,255,0);
  box-sizing: border-box;
}

.iris {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: $roundness;
  left: $iris-xpos;
  top: $iris-ypos;
  background-color: $eye-color;
  // box-shadow: inset 0px 0px 30px -5px black;
}

.pupil {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: $roundness;
  background-color: rgba(113, 142, 158, 1);
  box-shadow: 0px 0px 30px white;
}

.pupil-shine {
  position: absolute;
  left: 60%;
  top: 20%;
  width: 20%;
  height: 20%;
  border-radius: 60%;
  background-color: rgba(255, 255, 255, 0.2);
}